* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #333232;
  color: white;
}

nav img {
  width: 35px;
}

nav .nav-item, .navbar-brand {
  font-size: 20px;
}

h2 {
  text-transform: uppercase;
}

.card {
  border: none;
}

#quienes-somos i,
footer i {
  font-size: 30px;
}

footer a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}